* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    font-family: Inter;
    background-image: linear-gradient(160deg, #C33764, #1D2671, #131841);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 20px;
    color: #f7f2f2;
}

.navLinks {
    display: flex;
    gap: 40px;
    font-size: 24px;
}

.contact {
    font-weight: bold;
}

.about-me, .projects, .home {
    display: inline-block;
    position: relative;
    color: #f7f2f2;
}

.about-me::after, .projects::after, .home::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f7f2f2;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.about-me:hover::after, .projects:hover::after, .home:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a {
    text-decoration: none;
    color: #f7f2f2;
}

.container {
    display: grid;
    grid-template-rows: 50px 150px 1fr;
}

.container h2 {
    grid-row: 2;
    display: flex;
    color: #f7f2f2;
    font-size: 50px;
    justify-content: center;
}

.contacts {
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #f7f2f2;
    font-size: 30px;
}

.emails {
    font-weight: bolder;
}

.icons {
    display: flex;
    gap: 40px;
}

.twitter {
    text-decoration: underline;
}

.twitter-bird {
    height: 50px;
    width: 50px;
}

.my-twitter {
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    overflow: hidden;
    transition: width 0.5s;
}

.my-twitter:hover {
    width: 280px;
}

.phone {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: width 0.5s;
}

.phone-icon {
    height: 50px;
    width: 50px;
}

.phone-number {
    white-space: nowrap;
}

.phone:hover {
    width: 200px;
}