* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    font-family: Inter;
    background-image: linear-gradient(160deg, #C33764, #1D2671, #131841);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 20px;
    color: #f7f2f2;
}

.navLinks {
    display: flex;
    gap: 40px;
    font-size: 24px;
}

.navLinks a {
    color: #f7f2f2;
}

.projects {
    font-weight: bold;
}

.about-me, .home, .contact {
    display: inline-block;
    position: relative;
    color: #f7f2f2;
}

.about-me::after, .home::after, .contact::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f7f2f2;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.about-me:hover::after, .home:hover::after, .contact:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 100px repeat(6, 1fr) 100px;
    grid-template-rows: 200px 1fr 200px 1fr 200px 1fr 200px 1fr;
    align-items: center;
    color: #f7f2f2;
}

.school-team-projects {
    grid-column: 2 / 5;
    grid-row: 7;
}

.school-team-project-1 {
    grid-column: 2;
    grid-row: 8;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 520px;
    height: 240px;
    border: solid #303030 1px;
    border-radius: 10px;
    padding: 6px;
    background-color: #f7f2f2;
}

.team-project-1-about {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links {
    color: #303030;
    font-size: 24px;
}

.about-team-project-1-me {
    grid-column: 2;
}

.school-team-project-1 a:hover {
    text-decoration: underline;
}

.school-team-project-1 p {
    font-size: 20px;
    color: #303030;
}

.HTML-CSS {
    grid-column: 2 / 4;
    grid-row: 1;
}

.HTML-CSS-project-1 {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 520px;
    height: 240px;
    border: solid #303030 1px;
    border-radius: 10px;
    padding: 6px;
    background-color: #f7f2f2;
}

.HTML-CSS-project-1-about {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.portfolio-link {
    color: #303030;
    font-size: 24px;
}

.HTML-CSS-project-1 p {
    font-size: 20px;
    color: #303030;
}

.HTML-CSS-project-1 a {
    color: #303030;
}

.HTML-CSS-project-1 a:hover {
    text-decoration: underline;
}

.JavaScript {
    grid-column: 2 / 4;
    grid-row: 3;
}

.JavaScript-project {
    grid-column: 2;
    grid-row: 4;
    font-size: 24px;
}

.school-team-projects h2, .HTML-CSS h2, .JavaScript h2, .python h2{
    font-size: 50px;
}

.python {
    grid-column: 2;
    grid-row: 5;
}