* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    background-image: linear-gradient(160deg, #C33764, #1D2671, #131841);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 20px;
    color: #f7f2f2;
}

.navLinks {
    display: flex;
    gap: 40px;
    font-size: 24px;
}

.home {
    font-weight: bold;
}

.about-me, .projects, .contact {
    display: inline-block;
    position: relative;
    color: #f7f2f2;
}

.about-me::after, .projects::after, .contact::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f7f2f2;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.about-me:hover::after, .projects:hover::after, .contact:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a {
    text-decoration: none;
    color: #f7f2f2;
}

.container {
    display: grid;
    grid-template-columns: 200px repeat(2, 1fr) 200px;
    grid-template-rows: repeat(2, 1fr) 30px repeat(2, 1fr);
    text-align: right;
    height: 90vh;
    color: #f7f2f2;
}

.short-intro {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 4px;
}

.name {
    font-size: 60px;
    text-align: start;
}

.short-about {
    grid-column: 2;
    grid-row: 4;
    width: 550px;
}

.container p {
    font-size: 20px;
    text-align: start;
}